doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Aside - Free Bulma template
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  body
    nav#top.nav.has-shadow
      .container
        .nav-center
          a.nav-item(href='../index.html')
            span.navbar-brand
    .section
      .container
        .columns
          .column.is-3.vid
            .panel
              p.is-marginless
                img(src='http://i.eroshare.com/a35swxbw_thumb_play.jpg')
              .panel.vidInfo
                a.vid-title(href="#")
                  span What do yall think of bouncing titties?
                .columns.has-text-centered
                  .column
                    .panel-item.reddit-ups
                      i.fa.fa-reddit-alien.fa-2x
                      | 2 
                    .panel-item.reddit-date
                      i.fa.fa-calendar.fa-2x
                      | 2d 
          .column.is-3.vid
            .panel
              p.is-marginless
                img(src='http://i.eroshare.com/a35swxbw_thumb_play.jpg')
              .panel.vidInfo
                a.vid-title(href="#")
                  span What do yall think of bouncing titties?
                .columns.has-text-centered
                  .column
                    .panel-item.reddit-ups
                      i.fa.fa-reddit-alien.fa-2x
                      | 2 
                    .panel-item.reddit-date
                      i.fa.fa-calendar.fa-2x
                      | 2d 
          .column.is-3.vid
            .panel
              p.is-marginless
                img(src='http://i.eroshare.com/a35swxbw_thumb_play.jpg')
              .panel.vidInfo
                a.vid-title(href="#")
                  span What do yall think of bouncing titties?
                .columns.has-text-centered
                  .column
                    .panel-item.reddit-ups
                      i.fa.fa-reddit-alien.fa-2x
                      | 2 
                    .panel-item.reddit-date
                      i.fa.fa-calendar.fa-2x
                      | 2d 
          .column.is-3.vid
            .panel
              p.is-marginless
                img(src='http://i.eroshare.com/a35swxbw_thumb_play.jpg')
              .panel.vidInfo
                a.vid-title(href="#")
                  span What do yall think of bouncing titties?
                .columns.has-text-centered
                  .column
                    .panel-item.reddit-ups
                      i.fa.fa-reddit-alien.fa-2x
                      | 2 
                    .panel-item.reddit-date
                      i.fa.fa-calendar.fa-2x
                      | 2d 
    footer.footer
      .container
        .content.has-text-centered
          p
            strong Bulma
            |  by 
            a(href='http://jgthms.com') Jeremy Thomas
            | . The source code is licensed
            a(href='http://opensource.org/licenses/mit-license.php') MIT
            | . The website content
            |           is licensed 
            a(href='http://creativecommons.org/licenses/by-nc-sa/4.0/') CC ANS 4.0
            | .
          p
            a.icon(href='https://github.com/jgthms/bulma')
              i.fa.fa-github
